# Express Server Port & Environment
PORT=5000
NODE_ENV=production

# MongoDB Connection String (MongoDB Atlas)
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.r4bt2.mongodb.net/portfolio_db

# Frontend Application URL (for CORS authorization & Password Reset links)
CLIENT_URL=https://mr-baraiya-portfolio.vercel.app

# Admin JWT Secret Key
JWT_SECRET=your_jwt_secret_key_here

# SMTP Nodemailer Email Service Credentials (for Password Reset)
SMTP_HOST=smtp.gmail.com
SMTP_PORT=587
SMTP_USER=your_email@gmail.com
SMTP_PASS=your_gmail_app_password
ADMIN_ALERT_EMAIL=your_email@gmail.com
